#main-chart{
	width: 1024px;
	height: 600px;
  overflow-y: auto;
}

.bar {
	fill:#eaeaea;
}

text.label {
	fill: #777777;
	color: #777777;
	font-size: 20px;
	font-weight: bold;
}

text.location {
	fill: #666666;
	font-size: 14px;
}