@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#app {
  margin: 0 auto;
  width: 90%;
  height: 100%;

  h1 {
    text-align: center;
    color: #555;
    font-weight: 300;
  }
}

.charts-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  .group {
    flex: 1;
  }
}

.tools-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#main-chart-legend {
  height: 50px;
  border-bottom: 1px solid #efefef;
}

#main-chart {
  width: 100%;
  min-width: 500px;
	height: 512px;
  overflow-y: scroll;
}

#secondary-chart {
  width: 100%;
  min-width: 500px;
}

.bar-infrainvest, .bar-roadaccid {
	fill:#eaeaea;
}

text.label-roadaccid, text.label-infrainvest {
	fill: #777777;
	color: #777777;
	font-size: 10px;
	font-weight: 200;
}

text.location {
	fill: #666666;
	font-size: 10px;
}

text.legend-h1 {
	fill: #666666;
  font-size: 11px;
}

text.legend-h2 {
	fill: #777777;
  font-size: 9px;
}
